.banner {
  position: relative;
  overflow: hidden;
}
.banner__images {
  position: relative;
  height: 550px;

  transition: all 500ms ease;
}
.banner__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;

  /*opacity: 0;*/
}
/*.banner__img--on {*/
/*  opacity: 1;*/
/*}*/
.banner__img img {
  position: relative;
  transform: translate(-50%);
  left: 50%;
  width: 1920px;
}
.banner__indicator {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  bottom: 50px;
  justify-content: center;
}
.banner__selector {
  width: 8px;
  height: 8px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: #aaa;
  cursor: pointer;
}
.banner__selector--active {
  /* width: 16px;
  border-radius: 10px; */
  background-color: red;
}